#wrapper {
    min-width: 1200px;
}
.menu{
padding:2% 0%;
position:fixed;
z-index:999;
width:100%;
background-color: rgba(0, 0, 0, 0);
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
}
.menu-l{
width:20%;
margin-left:5%;
}
.menu-l img{
width:50%;
}
.menu-r{
margin-left: 25%;
width:50%;
}
.menu-r ul{
  display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
   -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack: center;
     -ms-flex-pack: center;
      justify-content: center;
}
.menu-r ul li{
padding:0% 4%;
font-size:2vw;
color:#fff;
font-family: 'Shadows Into Light';
position: relative;
  display: inline-block;
  text-decoration: none;
}
.menu-r ul li::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.menu-r ul li:hover::after {
  transform: scale(1, 1);
}
.top{
position: relative;
}
.top img{
width:100%;
}
.top-mein{
position: absolute;
bottom:10%;
}
.top-mein img{
width:100%;
opacity:0.5;
}
.top-mein p{
margin-left:80%;
padding:0% 10%;
writing-mode: vertical-rl;
font-size: 2vw;
color:#fff;
font-family: 'Shadows Into Light';
}
.mission{
position:relative;
background-color: #3A7F35;
width:100%;
padding:10% 0%;
text-align: center;
}
.mission h2{
font-size:3vw;
color:#fff;
font-family: 'Shadows Into Light';
}
.mission h3{
  padding:3% 0%;
font-size:2vw;
color:#fff;
}
.mission p{
  padding:3% 5%;
font-size:1.5vw;
color:#fff;
line-height:2;
letter-spacing:0.1em;
}
.mission-img{
position:absolute;
text-align: left;
}
.mission-img img{
width:50%;
}
.service{
background-color: #000;
}
.service-con{
  display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
   -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack: center;
     -ms-flex-pack: center;
      justify-content: center;
      width:100%;
      padding:20% 5%;
}
.service-l{
width:40%;
padding:0% 5%;
}
.service-l h2{
  font-size:5vw;
  color:#fff;
  font-family: 'Shadows Into Light';
}
.service-l p{
  font-size:2vw;
  color:#fff;
  padding:20% 0%;
  line-height:1.5;
}
.service-r{
width:60%;
}
.service-r img{
width:100%;
}
