#wrapper {
    min-width: 1200px;
}
.menu{
width:100%;
position:fixed;
z-index:999;
background-color: rgba(0, 0, 0, 0);
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
    padding:2% 0%;
}
.menu-left{
width:25%;
margin-left:5%;
}
.menu-left img{
width:50%;
}
.menu-right{
width:50%;
margin-left:20%;
}
.menu-right ul{
  display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
   -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack: center;
     -ms-flex-pack: center;
      justify-content: center;
      width:100%;
}
.menu-right ul li{
width:10%;
padding:0% 9%;
}
.menu-right ul li a p{
  font-size:2vw;
  color:#fff;
  font-family:'Shadows Into Light';
  text-align:center;
  position: relative;
    display: inline-block;
    text-decoration: none;
}
.menu-right ul li a p::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.menu-right ul li a p:hover::after {
  transform: scale(1, 1);
}
.top{
position:relative;
}
.top img{
width:100%;
}
.top2{
padding:10% 0%;
}
.top2-up{
padding:8% 0%;
text-align:center;
}
.top2-up h3{
color:#888;
font-size:4vw;
line-height:1.5;
}
.top2-up h4{
color:#191970;
font-size:4vw;
line-height:1.5;
}
.top2-down{
position:relative;
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
    padding:5% 0%;
}
.top2-down-l{
width:20%;
position:absolute;
z-index:1;
left:3%;
}
.top2-down-l p{
  font-size:25vw;
  color:#888;
  font-family: 'Arvo';
}
.top2-down-r{
  width:80%;
  text-align:center;
}
.top2-down-r p{
font-size:2vw;
line-height:2;
}

/*ここからbusiness*/
.business-up{
padding:2% 0%;
text-align:center;
}
.business-up p{
font-size:2vw;
}
.business-con{
background-color:#2d2d3b;
}
/*ここからbusiness1*/
.business1{
padding:5% 0%;
width:100%;
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
}
.business1-l{
width:40%;
}
.business1-l img{
width:100%;
}
.business1-r{
width:40%;
margin-left:20%;
position:relative;
z-index:1;
padding:2% 0%;
}
.business1-r-up h3{
color:#fff;
font-size:3vw;
font-family: 'Arvo';
}
.business1-r-up span{
color:#fff;
font-size:1.5vw;
}
.business1-r-down{
padding:10% 0%;
text-align:left;
}
.business1-r-down p{
color:#fff;
font-size:1.5vw;
line-height:2;
}
.business1-r-hidden{
position:absolute;
z-index:-1;
bottom:0%;
left:30%;
}
.business1-r-hidden p{
font-size:35vw;
color:#888;
}
/*ここまでbusiness1*/
/*ここからbusiness2*/
.business2{
padding:5% 0%;
width:100%;
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
}
.business2-l{
width:40%;
margin-right:20%;
position:relative;
z-index:1;
padding:2% 0%;
}
.business2{
text-align:right;
}
.business2-l-up h3{
color:#fff;
font-size:3vw;
font-family: 'Arvo';
}
.business2-l-up span{
color:#fff;
font-size:1.5vw;
}
.business2-l-down{
padding:10% 0%;
text-align:right;
}
.business2-l-down p{
color:#fff;
font-size:1.5vw;
line-height:2;
}
.business2-l-hidden{
position:absolute;
z-index:-1;
bottom:0%;
right:30%;
}
.business2-l-hidden p{
font-size:35vw;
color:#888;
}
.business2-r{
width:40%;
}
.business2-r img{
width:100%;
}
/*ここまでbusiness1,2,3*/
/*ここからbusiness4*/
.business4{
position:relative;
background-image:url(img/business4.jpg);
background-position: center;
background-size: cover;
width:100%;
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
    opacity:0.8;
}
.business4-hidden{
  position:absolute;
  width:20%;
  z-index:1;
  bottom:0%;
  left:0%;
}
.business4-hidden p{
font-size:35vw;
color:#888;
opacity: 0.7;
}
.business4-con{
width:80%;
padding:5% 0%;
}
.business4-con-up{
padding:5% 0%;
line-height:2;
text-align:center;
}
.business4-con-up h3{
font-size:4vw;
}
.business4-con-up h3 span{
font-size:4vw;
font-family: 'Arvo';
}
.business4-con-down{
border:1px solid #2d2d3b;
background-color:#2d2d3b;
width:30%;
margin-left: 35%;
margin-right: 35%;
text-align:center;
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
}


.business4-con-down:hover {
	background: #96e9e6;
	box-shadow: 0 3px 0 #12978d, 0 6px 0 rgba(0,0,0,.2);
	transform: translateY(3px);
}
.business4-con-down:active {
	color: #ddd;
	background: #12978d;
	box-shadow: 0 0 0 #047c71, 0 0 0 rgba(0,0,0,.2);
	transform: translateY(6px);
	transition-duration: .1s;
}
.business4-con-down-l{
padding:5% 2%;
width:70%;
}
.business4-con-down-l p{
color:#fff;
font-size:1.5vw;
}
.business4-con-down-r{
padding:5% 2%;
width:30%;
}
.business4-con-down-r i{
color:#fff;
font-size:1.5vw;
}

/*ここまでbusiness4*/
/*ここまでが一つ目終わり*/

/*ここからabout.html(2つ目)*/
.about-top{
position:relative;
}
.about-top img{
width:100%;
}
.about-top-write{
position:absolute;
top:36%;
right:10%;

}
.about-top-write h3{
font-size:10vw;
color:#fff;
font-family: 'Arvo';
line-height:1.5;
}
.about-top-write p{
  font-size:5vw;
  color:#fff;
  font-family: 'Arvo';

}
.about-content{
padding:3% 0%;
}
.about-con-up{
padding:3% 0%;
text-align:center;
}
.about-con-up h3{
font-size:3vw;
line-height:1.5;
}
.about-con-down{
padding:3% 0%;
text-align:center;
}
.about-con-down p{
font-size:1.5vw;
line-height:2;
letter-spacing:0.2em;
}

.about-top2{
position:relative;
}
.about-top2 img{
width:100%;
height:70vh;
}
.about-top2-write{
position:absolute;
top:40%;
left:35%;
}
.about-top2-write p{
  font-size:3vw;
  color:#fff;
  font-family: 'Arvo';
  line-height:1.5;
}

.about-content2{
width:100%;
}
.about-con2-up{
padding:3% 0%;
text-align:center;
}
.about-con2-up h3{
font-size:3vw;
}
.aaa{
padding:3% 15%;
}
.about-con2-down{
  border:1px solid #E3E3E3;
  text-align:center;
  display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
   -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack: center;
     -ms-flex-pack: center;
      justify-content: center;

}
.about-con2-down-l{
width:30%;
background-color: #F2F2F2;
text-align: center;
padding:5% 3%;
border-right:1px solid #E3E3E3;
border-bottom:1px solid #E3E3E3;
}
.about-con2-down-l p{
font-size:1.5vw;
}
.about-con2-down-r{
width:70%;
text-align: center;
padding:2% 3%;
}
.about-con2-down-r p{
font-size:1.5vw;
line-height:1.5;
}
.about-con2-down-l-2{
width:30%;
background-color: #F2F2F2;
text-align: center;
padding:6% 3%;
border-right:1px solid #E3E3E3;
border-bottom:1px solid #E3E3E3;
}
.about-con2-down-l-2 p{
font-size:1.5vw;
}

.about-content3{
margin-top:5%;
}
.about-con3-up{
margin-top: 3%;
text-align: center;
}
.about-con3-up-1 p{
font-size:1.5vw;
}
.about-con3-up-2{
padding:2% 0%;
text-align: center;
}
.about-con3-up-2 p{
font-size:1.5vw;
}

.about-con3-down iframe{
width:100%;
height:50vh;
fransform: scale(1.1);
cursor: pointer;
filter: grayscale(100%);
transition-duration: 0.5s;
}













/*ここまでabout.html(2つ目)*/


/*ここからfooter*/
.footer{
background-color: #2d2d3b;
padding:3% 0%;
}
.footer-up{
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
text-align:center;
}
.footer-up img{
width:50%;
}
.footer-down{
margin-top:3%;
}
.footer-down ul{
  width:100%;
  display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
   -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack: center;
     -ms-flex-pack: center;
      justify-content: center;
}
.footer-down ul li{
width:20%;
  text-align:center;
}
.footer-down ul li a p{
  font-size:2vw;
  color:#fff;
  font-family:'Shadows Into Light';
  position: relative;
    display: inline-block;
    text-decoration: none;
}
.footer-down ul li a p::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.footer-down ul li a p:hover::after {
  transform: scale(1, 1);
}

.footer-copy{
background-color: #888;
padding:1% 0%;
text-align:center;
}
.footer-copy p{
font-size:1vw;
}



/*ここまでfooter*/
