.roots{
text-align:center;
height:8vh;
}

#iphone{
float:left;
height:45vh;
width:100vw;
margin-top:10vh;
}

.hand{
margin-left:10vw;
float:left;
}
.lesson{
position:relative;
z-index:0;
}
.lesson p{
position:absolute;
z-index:1;
background-color:rgb(255,255,0);
top:5%;
left:5%;

}
.lesson p:hover{
background-color:rgb(255,0,0,0.5);

}


.bread{
background-image:url(breadworker.jpg);
background-position:center;
background-size:cover;
width:20vw;
height:25vh;

}

.everyday{
height:20vh;
margin-left:2%;
clear:both;
}

.poteto{
margin-left:10vw;
float:left;
}

.salad{
background-image:url(saladbread.jpg);
background-position:center;
background-size:cover;
width:20vw;
height:25vh;
}

.pan{
height:20vh;
margin-left:2%;
clear:both;
}

.hirano{
margin-left:10vw;
float:left;
}

.one{
background-image:url(women.jpg);
background-position:center;
background-size:cover;
width:20vw;
height:25vh;
}

.children{
height:20vh;
margin-left:2%;
clear:both;
}


#more{
margin-left:10%;
margin-top:2%;
}



#daily{
margin-top:1%;
text-align:center;
}
