#wrapper {
    min-width: 1200px;

}
.menu{
width:100%;
position:fixed;
z-index:999;
top:0%;
padding:2% 5%;
border-bottom:1px solid #f0f0f0;
background-color: #fff;
}
.menu-l{
width:20%;
float:left;
text-align: center;
}
.menu-l h3{
font-size:2vw;
font-weight: bold;
letter-spacing:0.1em;
font-family: 'Playfair Display', serif;
}
.menu-r{
display: block;
width:60%;
margin-left:20%;
float:left;
}
.menu-r ul{
  display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
   -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack: center;
     -ms-flex-pack: center;
      justify-content: center;
}
.menu-r ul li{
width:15%;
padding:0% 2%;
text-align: center;
}
.menu-r ul li a{
font-size:1vw;
font-family: 'Playfair Display', serif;
position: relative;
  display: inline-block;
  text-decoration: none;
}
.menu-r ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.menu-r ul li a:hover::after {
  transform: scale(1, 1);
}
.respon-open-menu{
display: none;
}
/*ここまでmenu*/
/*ここからtop*/

.top{
width:100%;
margin-top:5%;
position: fixed;
top:5%;
z-index:-1;
padding:10%;
}
.top img{
width:70%;
height:55vh;
margin-left: 20%;
}
.top2{
margin-top: 60%;
}
.top2 img{
width:100%;
}
/*ここまでtop*/
/*ここからcontent*/
.content{
background-color: #f0f0f0;
}
.news{
padding:5% 10%;
}
.news-up{
text-align:center;
}
.news-up h3{
font-size:2.5vw;
font-weight: bold;
letter-spacing: 0.1em;
}
.news-up h3 span{
border-bottom: 3px solid #FF4F02;
font-weight: bold;
}
.news-down{
padding:5% 10%;
}
.news-down-con{
padding:3% 0%;
}

.news-down-con-1{
float:left;
text-align: left;
width:15%;
}
.news-down-con-1 p{
font-size:1.5vw;
font-family: 'Baloo Tamma 2', cursive;
}
.news-down-con-2{
float:left;
text-align: left;
width:85%;
}
.news-down-con-2 p{
font-size:1.2vw;
line-height:1.2;
}
.news-down-con-2:hover{
color:#FFCC99;
}
.news-footer{
padding:4% 0%;
text-align: center;
}
.news-footer p{
font-size:1.2vw;
letter-spacing: 0.1em;
}
/*ここまでcontent*/
/*ここからmission*/
.mission{
padding:5% 10%;
background-color: #fff;
}
.mission-up{
padding:5% 0%;
text-align: center;
}
.mission-up h3{
font-size:2.5vw;
font-weight: bold;
letter-spacing: 0.2em;
}
.mission-down{
padding:5% 20%;
text-align: center;
}
.mission-down h4{
font-size:1vw;
line-height:2;
font-weight: lighter;
padding:2% 0%;
}
.mission-down h5{
font-size:1vw;
line-height:2;
font-weight: lighter;
padding:2% 0%;
}
.mission-down h6{
font-size:1vw;
line-height:2;
font-weight: lighter;
padding:2% 0%;
}
.mission-down p{
font-size:1vw;
line-height:2;
font-weight: lighter;
padding:2% 0%;
}
.mission-down span{
font-size:1vw;
line-height:2;
font-weight: lighter;
padding:2% 0%;
}
/*ここまでmission*/
/*ここからtop3*/
.top3 img{
width:100%;
}
/*ここまでtop3*/
/*ここからvision*/
.vision{
padding:5% 10%;
background-color: #fff;
}
/*ここまでvision*/
/*ここからtop4*/
.top4 img{
width:100%;
}
/*ここまでtop4*/
/*ここからvalue*/
.value{
padding:5% 5%;
background-color: #fff;
}
.value-down{
width:100%;
padding:8% 0%;
}
.value-down-con{
float:left;
width:33%;
padding:0% 3%;
}
.value-down-con-up{
text-align: center;
padding:5% 0%;
}
.value-down-con-up h3{
font-size:1.5vw;
font-weight: bold;
letter-spacing: 0.1em;
}
.value-down-con-down{
text-align: center;
}
.value-down-con-down p{
font-size:1vw;
line-height:2;
}
/*ここまでvalue*/
/*ここからtop5*/
.top5 img{
width:100%;
}
/*ここまでtop5*/
/*ここからservice*/
.service{
padding:5% 5%;
background-color: #fff;
}
.service-up{
margin-top:5%;
text-align: center;
}
.service-up p{
font-size: 1vw;
letter-spacing: 0.1em;
}
.service-down{
padding:8% 0%;
}
.service-down-con-text{
float:left;
width:30%;
margin-left: 1%;
margin-right: 1%;
border:2px solid;
padding:3% 0%;
text-align: center;
}
.service-down-con-text p{
font-size:1.5vw;
letter-spacing: 0.1em;
}
.res-service{
display:none;
}
/*ここまでservice*/
/*ここからplat*/
.plat{
background-color: #f0f0f0;
}
.plat-up{
text-align:center;
padding:5% 0%;
}
.plat-up h3{
font-size:2.5vw;
font-weight: bold;
letter-spacing: 0.1em;
}
.plat-up h3 span{
border-bottom: 3px solid #009900;
font-weight: bold;
}
.plat-up2{
margin-top:5%;
padding:0% 25%;
text-align: center;
}
.plat-up2 p{
  font-size: 1vw;
  letter-spacing: 0.1em;
  line-height: 2;
}
.plat-down1{
padding:5% 5%;
}
.plat-down1-l{
float: left;
width:48%;
margin-right:2%;
}
.plat-down1-l img{
width:100%;
}
.plat-down1-r{
float:left;
width:48%;
margin-left:2%;
}
.plat-down1-r h3{
padding:3% 0%;
font-size:1.2vw;
font-weight: bold;
}
.plat-down1-r h4{
padding:2% 0%;
font-size:1vw;
line-height: 2;
}
.plat-down1-r p{
padding:2% 0%;
font-size:1vw;
line-height: 2;
}
.plat-down1-r span{
font-size:1vw;
}
.res-top6{
display: none;
}
.plat-down2{
padding:5% 0%;
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
}

figure {
  position: relative;
  overflow: hidden;
  width: 33%;
  padding:0% 3%;
  height:30vh;
}
figure img{
width:100%;
}
figcaption {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
  padding:2% 5%;
  text-align: center;
}
figcaption h3{
color:#fff;
font-size:1.3vw;
font-weight:bold;
}
figcaption p{
padding:2% 0%;
color:#fff;
font-size:0.8vw;
line-height:2;
}
figcaption span{
color:#fff;
font-size:1vw;
}
figure:hover figcaption {
  top: 0;
  left: 0;
}
.plat-down3{
padding:5% 3%;
}
.plat-down3-con{
float:left;
width:33%;
padding:0% 3%;
text-align: center;
}
.plat-down3-con img{
width:100%;
}
.plat-down3-con p{
font-size:1.3vw;
line-height: 2;
}
.plat-down3-con span{
padding:2% 0%;
font-size:1vw;
}
.plat-down3-con p:hover{
color:#FFCC99;
}
.plat-down3-con span:hover{
color:#FFCC99;
}
.plat-down3-con iframe{
width:100%;
height:30vh;
}
/*ここまでplat*/
/*ここからtop6*/
.top6{
display: block;
}
.top6 img{
width:100%;
}
/*ここまでtop6*/
/*ここからshoyu*/
.shoyu{
padding:5% 6%;
background-color: #fff;
}
.shoyu-l{
float:left;
width:48%;
margin-right:2%;
}
.shoyu-l img{
width:100%;
}
.shoyu-r{
  float: left;
  width:48%;
  margin-left:2%;
}
.shoyu-r h3{
  padding: 3% 0%;
  font-size: 1.2vw;
  font-weight: bold;
}
.shoyu-r p{
  padding: 2% 0%;
  font-size: 1vw;
  line-height: 2;
  }
.shoyu-r span{
font-size:1vw;
}
/*ここまでshoyu*/
/*ここからtop7*/
.top7 img{
width:100%;
}
/*ここまでtop7*/
/*ここからcommunication,box*/
.communication{
background-color: #fff;
padding:5% 0%;
}
.box{
padding:5% 0%;
}
.box-up{
position: relative;
float:left;
width:25%;
padding:0% 3%;
overflow:hidden;
cursor: pointer;
}

.box-up img{
width:100%;
transition-duration: 0.5s
}
.box-up:hover img{
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.box-up-abso{
position:absolute;
left:25%;
top:40%;
text-align: center;
}
.box-up-abso-2{
position:absolute;
left:45%;
top:40%;
text-align: center;
}
.box-up-abso-3{
position:absolute;
left:36%;
top:40%;
text-align: center;
}
.box-up-abso-4{
position:absolute;
left:18%;
top:40%;
text-align: center;
}
.box-up-abso p{
font-size:1.5vw;
letter-spacing:0.1em;
font-weight:bold;
color:#fff;
}
.box-up-abso-2 p{
font-size:1.5vw;
letter-spacing:0.1em;
font-weight:bold;
color:#fff;
}
.box-up-abso-3 p{
font-size:1.5vw;
letter-spacing:0.1em;
font-weight:bold;
color:#fff;
}
.box-up-abso-4 p{
font-size:1.5vw;
letter-spacing:0.1em;
font-weight:bold;
color:#fff;
}


.box-up .caption {
	margin-top:0%;
	margin-left:0%;
  text-align: center;
  overflow: hidden;
}


.caption figcaption {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
  padding:2% 10%;
  text-align: center;
}
.caption figcaption h3{
  padding:2% 0%;
  color:#fff;
  font-size:1.5vw;
  font-weight:bold;
}
.caption figcaption p{
  padding:2% 0%;
  color:#fff;
  font-size:1vw;
  line-height:1.5;
}

.box-up:hover figcaption {
  top: 0;
  left: 0;
}
.box-2{
padding:0% 0%;
}
/*ここまでcommunication,box*/
/*ここからevent*/
.event{
background-color: #fff;
padding: 5% 0%;
}
/*ここまでevent*/
/*ここからtop8*/
.top8 img{
width:100%;
}
/*ここまでtop8*/
/*ここからabout*/
.about{
background-color: #fff;
padding:5% 0%;
}
.about-up{
padding:5% 15%;
display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
 -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
    justify-content: center;
}
.about-up-l{
width:48%;
margin-right:2%;
}
.about-up-l img{
width:100%;
height:90vh;
}

.about-up-r{
  width:48%;
  margin-left:2%;
}
.about-up-r h3{
font-size:1.2vw;
line-height: 2;
font-weight: lighter;
}
.about-up-r h3 p{
font-size:1.2vw;
line-height: 2;
font-weight: lighter;
margin-bottom:5%;
}
.about-up-r h4{
padding:5% 0%;
font-size:1.2vw;
font-weight: lighter;
}
.about-up-r h5{
padding:5% 0%;
font-size:1.2vw;
line-height: 2;
font-weight: lighter;
}
.about-up-r h6{
font-size:1.2vw;
line-height: 2;
font-weight: lighter;
}
.about-up-r h7{
font-size:1.2vw;
line-height: 2;
}
/*ここまでabout*/
/*ここからcompany*/
.company{
background-color: #f0f0f0;
padding:5% 0%;
}
.company-company{
padding:5% 15%;
}
.company-text{
padding:3% 0%;
}
.company-text-l{
float:left;
width:10%;
margin-right:25%;
}
.company-text-l p{
font-size: 1.3vw;
font-weight: lighter;
}
.company-text-r{
  float:left;
  width:65%;
}
.company-text-r p{
font-size: 1.3vw;
font-weight: lighter;
}
.company-text-r-2{
  float:left;
  width:65%;
}
.company-text-r-2 p{
font-size: 1.3vw;
font-weight: lighter;
line-height: 2;
}
/*ここまでcompany*/
/*ここからmap*/
.map{
width:100%;
}
.map iframe{
width:100%;
height:80vh;
filter:grayscale(100%);-webkit-filter:grayscale(100%)
}
/*ここまでmap*/
/*ここからfooter*/
.footer{
background-color: #323232;
padding:5% 30%;
}
.footer-up h3{
font-size: 2vw;
color:#fff;
font-family: 'Playfair Display', serif;
}
.footer-down{
padding:10% 0%;
}
.footer-down-l{
float: left;
width:50%;
text-align: left;
}
.footer-down-l ul li{
padding:3% 0%;
}
.footer-down-l ul li a{
  font-size: 1vw;
  color:#fff;
  font-family: 'Playfair Display', serif;
  }
  .footer-down-l ul li a:hover{
  color:#FFCC99;
  }
  .footer-down-r{
  float: left;
  width:50%;
  text-align: left;
  }
  .footer-down-r h4{
  color:#fff;
  font-size:1vw;
  }
  .footer-down-r-ip{
  padding:5% 0%;
  }
  .footer-down-r-i{
  float:left;
  width:10%;
  text-align: left;
  }
  .footer-down-r-i i{
  color:#fff;
  font-size:1vw;
  }
  .footer-down-r-p{
  float:left;
  width:90%;
  text-align:left;
  margin-top: 1%;
  }
  .footer-down-r-p p{
  color:#fff;
  font-size:1vw;
  }

.footer-footer{
margin-top:2%;
text-align: center;
}
.footer-footer p{
font-size: 1vw;
color:#fff;
font-family: 'Playfair Display', serif;
}
/*ここまでfooter*/
/*ここから別ページ(career)*/
.career{
position:relative;
width:100%;
z-index:-1;
}

.career img{
width:100%;
}
.career-up{
padding:3% 1%;
position: absolute;
top:0%;
width:100%;
}
.career-up-l{
float:left;
width:20%;
}
.career-up-l p{
font-size:1vw;
color:#fff;
}
.career-up-r{
float:right;
margin-left:70%;
width:10%;
text-align: center;
}
.career-up-r span{
color:#fff;
font-size:1vw;
}
.career-up-r p{
color:#fff;
font-size:2vw;
font-weight: bold;
letter-spacing: 0.1em;
font-family: 'Exo 2', sans-serif;
}
.career-down{
padding:3% 0%;
position:absolute;
top:20%;
left:23%;
}
.career-down-up{
  display: flex;
    align-items: center;
    justify-content: center;
}
.career-down-up p{
font-size:3vw;
color:#fff;
font-family: 'Exo 2', sans-serif;
}
.career-down-up:before, .career-down-up:after {
  border-top: 1px solid;
  content: "";
  width: 3em; /* 線の長さ */
}
.career-down-up:before {
  margin-right: 1em; /* 文字の右隣 */
  color:#fff;
}
.career-down-up:after {
  margin-left: 1em; /* 文字の左隣 */
  color:#fff;
}
.career-down-cen{
padding:5% 0%;
text-align: center;
}
.career-down-cen p{
color:#fff;
font-size: 5vw;
letter-spacing:0.1em;
}
.career-down-down{
padding:3% 0%;
text-align: center;
}
.career-down-down p{
color:#fff;
font-size: 2.5vw;
font-weight: bold;
letter-spacing:0.1em;
}
.career-footer{
position:absolute;
bottom:5%;
left:48%;
text-align: center;
}
.career-footer i{
font-size:10vw;
color:#fff;
}
/*career*/
/*img*/
.img{
width:100%;
background-color: #fff;
}
.img-con{
text-align: center;
padding:3% 0%;
border-bottom:1px solid #f0f0f0;
}
.img-con img{
width:30%;
}
/*img*/
/*engage-company*/
.engage-company{
padding:5% 10%;
}
.engage-com-up{
padding:5% 0%;
text-align: center;
}
.engage-com-up h3{
  font-size: 2.5vw;
  font-weight: bold;
  letter-spacing: 0.1em;
  color:#080;
}
.engage-com-up h3 span{
border-bottom:3px solid #080;
font-weight: bold;
}
.engage-com-up p{
padding:2% 0%;
font-size:1.5vw;
letter-spacing: 0.1em;
}
.engage-com-down-con{
background-color: #f0f0f0;
padding:3% 0%;
text-align: center;
}
.engage-com-down-l{
float:left;
width:15%;
}
.engage-com-down-l p{
font-size: 1vw;
font-weight: bold;
}
.engage-com-down-r{
float: left;
margin-left:15%;
width:70%;
text-align: left;
}
.engage-com-down-r p{
font-size: 1vw;
}
.engage-com-down-con-2{
background-color: #fff;
padding:3% 0%;
text-align: center;
}
.engage-com-down-l-2{
float:left;
width:15%;
}
.engage-com-down-l-2 p{
font-size: 1vw;
font-weight: bold;
}
.engage-com-down-r-2{
float: left;
margin-left:15%;
width:70%;
text-align: left;
}
.engage-com-down-r-2 p{
font-size: 1vw;
line-height: 2;
}
/*engage-company*/
/*engage-career*/
.engage-career{
background-color: rgba(0, 136, 0, 0.8);
}
.engage-career-padding{
padding:5% 15%;
}
.engage-career-up{
padding:5% 0%;
text-align: center;
}
.engage-career-up h3{
  font-size: 2.5vw;
  font-weight: bold;
  letter-spacing: 0.1em;
  color:#fff;
}
.engage-career-up h3 span{
border-bottom:3px solid #fff;
font-weight: bold;
}
.engage-career-up p{
padding:2% 0%;
color:#fff;
font-size:1.5vw;
letter-spacing: 0.1em;
}
.engage-career-down{
text-align: center;
}
.engage-career-down p{
color:#fff;
font-size: 1.5vw;
font-weight: bold;
line-height: 2;
}
/*engage-career*/
/*halfway*/
.halfway-text{
padding:5% 0%;
}
.halfway-left{
float:left;
width:30%;
position: sticky;
z-index:999;
}
.halfway-left-text{
border:1px solid #fff;
background-color: #fff;
padding:10% 5%;
border-top: 2px solid #75A9FF		;
}
.halfway-left-text-l{
float:left;
width:30%;
}
.halfway-left-text-l p{
font-size:1vw;
letter-spacing: 0.1em;
}
.halfway-left-text-r{
float:left;
width:20%;
margin-left:50%;
text-align: right;
}
.halfway-left-text-r p{
font-size:1vw;
color:#888;
}
.halfway-right{
float:left;
width:65%;
margin-left:5%;
}
.halfway-right-text{
border:1px solid rgba(255, 255, 255, 0.1);
background-color: rgba(255, 255, 255, 0.1);
padding:3.5% 0%;
text-align: center;
}
.halfway-right-text p{
color:#fff;
letter-spacing: 0.1em;
}
.halfway-box-padding{
margin-top:5%;
}
.halfway-box{
  border:1px solid #fff;
  background-color: #fff;
  padding:5% 0%;
  border-top: 2px solid #75A9FF		;
}
.halfway-box-up{
padding:5% 0%;
border-bottom: 1px solid #f0f0f0;
}
.halfway-box-up-l{
  float:left;
  width:60%;
  padding:0% 5%;
}
.halfway-box-up-l p{
  font-size:2vw;
  letter-spacing: 0.1em;
  font-weight:bold;
}
.halfway-box-up-r{
float:left;
width:20%;
margin-left:20%;
text-align: right;
padding:0% 5%;
}
.halfway-box-up-r p{
font-size:2vw;
color:#888;
}
.halfway-box-down{
padding:2% 2%;
}
.halfway-box-down-text{
width:100%;
padding:3% 0%;
}
.halfway-box-down-text-l{
float:left;
width:20%;
text-align: center;
}
.halfway-box-down-text-l i{
font-size:2vw;
color:#75A9FF;
}
.halfway-box-down-text-l p{
padding: 2% 0%;
font-size:1vw;
color:#75A9FF;
letter-spacing: 0.1em;
}
.halfway-box-down-text-r{
  float:left;
  width:75%;
  margin-left: 5%;
  text-align: left;
}
.halfway-box-down-text-r h3{
font-size:1.2vw;
font-weight: bold;
}
.halfway-box-down-text-r p{
font-size: 1vw;
color:#888;
line-height: 1.5;
}
/*halfway*/
/*engage-footer*/
.engage-footer-1{
margin-top:10%;
text-align: center;
}
.engage-footer-1 i{
color:#fff;
font-size:10vw;
}
.engage-footer-2 p{
margin-top:3%;
text-align: center;
color:#fff;
font-size:1vw;
}
.engage-footer-2 p span{
text-align: center;
color:#fff;
font-size:1.5vw;
letter-spacing: 0.1em;
font-weight:bold;
font-family: 'Playfair Display', serif;
}
