#wrapper {
    min-width: 1200px;

}
.menu{
width:100%;
position:fixed;
z-index:999;
padding:2% 5%;
border-bottom:1px solid #f0f0f0;
background-color: #fff;
}
.menu-l{
width:20%;
float:left;
text-align: center;
}
.menu-l h3{
font-size:2vw;
font-weight: bold;
letter-spacing:0.1em;
font-family: 'Playfair Display', serif;
}
.menu-r{
width:60%;
margin-left:20%;
float:left;
}
.menu-r ul{
  display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
   -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack: center;
     -ms-flex-pack: center;
      justify-content: center;
}
.menu-r ul li{
width:15%;
padding:0% 2%;
text-align: center;
}
.menu-r ul li a{
font-size:1vw;
font-family: 'Playfair Display', serif;
position: relative;
  display: inline-block;
  text-decoration: none;
}
.menu-r ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.menu-r ul li a:hover::after {
  transform: scale(1, 1);
}
.top{
width:100%;
}
.top img{
width:100%;
height:55vh;
}
.top2 img{
width:100%;
}
/*ここまでtop*/
/*ここからcontent*/
.content{
background-color: #f0f0f0;
}
.news{
padding:5% 10%;
}
.news-up{
text-align:center;
}
.news-up h3{
font-size:2.5vw;
font-weight: bold;
letter-spacing: 0.1em;
}
.news-up h3 span{
border-bottom: 3px solid #FF4F02;
font-weight: bold;
}
.news-down{
padding:5% 10%;
}
.news-down-con{
padding:3% 0%;
}

.news-down-con-1{
float:left;
text-align: left;
width:15%;
}
.news-down-con-1 p{
font-size:1.5vw;
font-family: 'Baloo Tamma 2', cursive;
}
.news-down-con-2{
float:left;
text-align: left;
width:85%;
}
.news-down-con-2 p{
font-size:1.2vw;
line-height:1.2;
}
.news-down-con-2:hover{
color:#FFCC99;
}
.news-footer{
padding:4% 0%;
text-align: center;
}
.news-footer p{
font-size:1.2vw;
letter-spacing: 0.1em;
}
/*ここまでcontent*/
/*ここからmission*/
.mission{
padding:5% 10%;
}
.mission-up{
padding:5% 0%;
text-align: center;
}
.mission-up h3{
font-size:2.5vw;
font-weight: bold;
letter-spacing: 0.2em;
}
.mission-down{
padding:5% 20%;
text-align: center;
}
.mission-down h4{
font-size:1vw;
line-height:2;
font-weight: lighter;
padding:2% 0%;
}
.mission-down h5{
font-size:1vw;
line-height:2;
font-weight: lighter;
padding:% 0%;
}
.mission-down h6{
font-size:1vw;
line-height:2;
font-weight: lighter;
padding:2% 0%;
}
.mission-down p{
font-size:1vw;
line-height:2;
font-weight: lighter;
padding:2% 0%;
}
.mission-down span{
font-size:1vw;
line-height:2;
font-weight: lighter;
padding:2% 0%;
}
/*ここまでmission*/
/*ここからtop3*/
.top3 img{
width:100%;
}
/*ここまでtop3*/
