@media(max-width: 590px){
.wrapper{
min-width:0;
}

.slide1{
background-image:url(img/head1.jpg);
background-size:cover;
background-position:center;
width:100%;
height:80vh;
}
.slide1-up{
padding:2% 2%;
}

.slide1-up-a{
width:33%;
float:left;
text-align:left;
}

.slide1-up-b{
float:left;
width:33%;
text-align:center;
}
.slide1-up-b img{
color:#fff;
width:100%;
}
.slide1-up-c{
float:left;
width:33%;
text-align:right;
}

.slide1-up-c-right{
float:left;
width:20%;
}
.slide1-up-c-right i{
color:#fff;
font-size:8vw;
}
.slide1-down{
padding:0% 4%;
margin-top:5%;
}
.slide1-down p{
color:#fff;
font-size:1vw;
line-height:2;
letter-spacing:0.5em;
}
.slide1-down h2{
color:#fff;
font-size:3vw;
line-height:2;
letter-spacing:0.3em;
}
.slide1-down-down{
border:1px solid #fff;
padding:1% 1%;
}
.slide1-down-down-a{
float:left;
}
.slide1-down-down-a p{
color:#fff;
font-size:10px;
}
.slide1-down-down-b{
float:left;
}
.slide1-down-down-b i{
color:#fff;
font-size:15px;
}

.slide2{
background-image:url(img/head2.jpg);
background-size:cover;
background-position:center;
width:100%;
height:80vh;
}
.slide2-down{
padding:0% 4%;
}
.slide2-down img{
width:30%;
}
.slide3{
background-image:url(img/head3.jpg);
background-size:cover;
background-position:center;
width:100%;
height:80vh;
}
.slide4{
background-image:url(img/head4.jpg);
background-size:cover;
background-position:center;
width:100%;
height:80vh;
}
.slide5{
background-image:url(img/head5.jpg);
background-size:cover;
background-position:center;
width:100%;
height:80vh;
}

.menu{
padding:0%;
border-bottom:1px solid #EEEEEE;
}
.menu ul  .menu1{
width:50%;
float:left;
padding:3% 10%;
border-top:1px solid #888;
}
.menu ul .menu1-a{
float:left;
}
.menu ul .menu1-a i{
color:#888;
font-size:13px;
}
.menu ul .menu1-b{
float:left;
margin-left:8%;
}
.menu ul  .menu1-b p{
color:#888;
font-size:13px;
}
.menu ul li{
width:50%;
text-align:center;
float:left;
color:#888;
text-align:center;
font-size:13px;
padding:4% 0%;
border:1px solid #888;
}

.recommend{
padding:15% 10%;
letter-spacing:0.5em;
text-align:center;
}
.recommend h2{
font-size:1vw;
}

.look{
padding:3% 33%;
width:90%;
margin-left:5%;
margin-right:5%;
border:1px solid #888;
}
.look-a{
float:left;
}
.look-a i{
color:#888;
font-size:4vw;
}
.look-b{
float:left;
margin-left:5%;
}
.look-b p{
color:#888;
font-size:4vw;
}
.menu2{
padding:4% 0%;
}
.menu2-up{
padding:15% 10%;
letter-spacing:0.5em;
text-align:center;
}
.menu2-up h2{
font-size:1vw;
}

.menu2-bottom{
padding:1% 2%;
width:100%;
}
.menu2-bottom ul li .menu2-down{
float:left;
width:50%;
}
.menu2-bottom ul li .menu2-down .menu2-down-a{
float:left;
width:40%;
}
.menu2-bottom ul li .menu2-down .menu2-down-a img{
width:70%;
}
.menu2-bottom ul li .menu2-down .menu2-down-a img:hover{
opacity: 0.6;
 transition-duration: 0.3s;

}
.menu2-bottom ul li .menu2-down .menu2-down-b{
float:left;
width:60%;
padding:10% 0%;
}
.menu2-bottom ul li .menu2-down .menu2-down-b p{
color:#888;
font-size:12px;

}

.menu3{
background-color:#f5f5f5;
padding:5% 2%;
}
.menu3-up{
padding:15% 10%;
}
.menu3-up h3{
padding: 0% 10%;
font-size:1vw;
letter-spacing: 0.5em;
text-align: center;
}
.menu3-up p{
padding: 2% 10%;
letter-spacing: 0.2em;
font-size:2vw;
text-align: center;
}
.menu3-up-down{
padding: 3% 10%;
text-align: center;
}
.menu3-up-down span{
font-size:2vw;
letter-spacing: 0.3em;
}
.menu3-down{
width:100%;
}
.menu3-down ul li .menu3-down1{
float:left;
width:50%;
padding:0%;
}
.menu3-down1-a img{
width:100%;
}
.menu3-down1-a img:hover{
opacity: 0.6;
 transition-duration: 0.3s;

}
.menu3-down1-b{
padding:0%;
}
.menu3-down1-b p{
font-size:1vw;
line-height:2;
letter-spacing:0.3em;
}
.look2{
padding:3% 23%;
width:90%;
margin-left:5%;
margin-right:5%;
border:1px solid #888;
}
.look2-a{
float:left;
}
.look2-a i{
color:#888;
font-size:5vw;
}
.look2-b{
float:left;
margin-left:5%;
}
.look2-b p{
color:#888;
font-size:4vw;
}
.menu4{
padding:4% 0%;
}
.menu4-up {
    padding: 15% 10%;
    letter-spacing: 0.5em;
    text-align: center;
}
.menu4-down ul li{
float:left;
width:50%;
padding:0%;
}
.menu4-down{
margin-bottom:5%;
}
.menu4-down img{
width:100%;
}
.menu4-down img:hover{
opacity: 0.6;
  transition-duration: 0.3s;

}
.menu6{
padding:4% 0%;
}
.menu6-up {
    padding: 15% 10%;
    letter-spacing: 0.5em;
    text-align: center;
}
.menu6-down ul li{
float:left;
width:50%;
padding:2% 2%;
}
.menu6-down img{
width:100%;
}
.menu6-down img:hover{
opacity: 0.6;
  transition-duration: 0.3s;
}
.look3{
padding:5% 32%;
width:90%;
margin-left:5%;
margin-right:5%;
border:1px solid #888;
}
.look:hover{
opacity: 0.6;
  transition-duration: 0.3s;
}
.look2:hover{
opacity: 0.6;
  transition-duration: 0.3s;
}
.look3:hover{
opacity: 0.6;
  transition-duration: 0.3s;
}

.menu9-down{
padding:0% 10%;
}
.menu9-down ul li{
float:left;
width:50%;
padding:2% 2%;
}
.menu9-down img{
width:100%;
}
.menu9-down img:hover{
opacity: 0.6;
  transition-duration: 0.3s;
}
.menu9-down-down{
padding:2% 10%;
}
.menu9-down-down ul li{
float:left;
width:50%;
padding:2% 2%;
}
.menu9-down-down img{
width:100%;
}
.menu9-down-down img:hover{
opacity: 0.6;
  transition-duration: 0.3s;
}
.menu10{
padding:5% 10%;
background-color:#000;
}
.menu10-left{
float:none;
width:100%;
padding:10% 0%;
margin-right:2%;
}
.menu10-left-a{
line-height:1.5;
letter-spacing:0.2em;
}
.menu10-left-a h3{
color:#fff;
}

.menu10-left-b{
border:1px solid;
padding:3% 1%;
width:75%;
background-color:#fff;
}
.menu10-left-b-1{
float:left;
margin-left:1%;
}
.menu10-left-b-2{
float:left;
margin-left:8%;
}
.menu10-left-c{
line-height:1.5;
letter-spacing:0.2em;
margin-top:3%;
}
.menu10-left-c h2{
font-size:9vw;
color:#fff;
}
.menu10-left-d{
line-height:1.5;
letter-spacing:0.2em;
margin-top:3%;
}
.menu10-left-d ul li{
color:#fff;
font-size:3vw;
}

.menu10-right{
float:none;
width:100%;
padding:10% 0%;
border-top:1px solid #fff;
}
.menu10-right-a{
line-height:1.5;
letter-spacing:0.2em;
}
.menu10-right-a h3{
color:#fff;
}
.menu10-right-b{
line-height:1.5;
letter-spacing:0.2em;
padding:4% 0%;
}
.menu10-right-b p{
color:#fff;
}
.menu11{
padding:5% 10%;
}
.menu11-a{
float:none;
width:100%;
}
.menu11-a-up h3{
letter-spacing:0.3em;
font-size:1vw;
}
.menu11-a-down{
padding:5% 0%;
}
.menu11-a-down ul li{
display:none;
padding:6% 0%;
color:#888;
}
.menu11-sns{
padding:2% 19%;
border-bottom:1px solid rgba(192,192,192);
}
.menu11-sns ul li{
float:left;
padding:0% 7%;
}
.menu11-sns ul li i{
color:#888;
font-size:6vw;
}

.menu12{
padding:5% 28%;
}



















}
