@media (max-width: 590px){
#wrapper {
    min-width: 0;
}
.menu{
width:100%;
position:fixed;
z-index:999;
background-color: #fff;
height:10vh;
display:block;
}
.menu-a{
width:20%;
margin-left: 5%;
float: left;
}
.menu-a img{
width:100%;
}
.menu-b{
display: none;
margin-left:0%;
width:0%;
padding:0% 0%;
}
.respon-menu-b{
display: none;
margin-left:0%;
width:100%;
padding:7% 0%;
}
.respon-menu-b ul{
  display:block;
  text-align: center;
}
.respon-menu-b ul li{
padding:3% 0%;
}

.menu-c{
width:30%;
margin-left: 10%;
display:block;
float: left;
}
.menu-c-1{
background-color:#1155a3;
padding:11% 0%;
width:50%;
text-align: center;
float: left;
}
.menu-c-1 p{
font-size:3vw;
letter-spacing:0.1em;
color:#fff;
}
.menu-c-1 span{
font-size:2vw;
color:#888;
}
.menu-c-2{
background-color:#000;
padding:11% 0%;
width:50%;
text-align: center;
float: left;
}
.menu-c-2 p{
font-size:3vw;
letter-spacing:0.1em;
color:#fff;
}
.menu-c-2 span{
font-size:2vw;
color:#888;
}
.respon-open-menu{
display: block;
}
/*ここまでmenu*/
/*ここからtop*/

.top-l img {
    width: 20%;
}
.top-cen img {
    width: 50%;
}
.top-r img {
    width: 20%;
}

/*ここまでtop*/
/*ここからconcept*/
.concept-up {
    padding: 10% 0%;
    display:block;

}
.con-up-l{
text-align: center;
}
.con-up-l p {
    color: #0054a6;
    letter-spacing: 0.2em;
    line-height: 1.5;
    font-size: 5vw;
}
.con-up-cen {
    content: "";
    width: 77px;
    height: 1px;
    background: #56b7e2;
    position: relative;
    top: -4px;
    margin-left: 40%;
    margin-right: 40%;
    display: inline-block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(-51deg);
    -ms-transform: rotate(-51deg);
    -o-transform: rotate(-51deg);
    /* transform: rotate(-51deg); */
}
.con-up-r {
text-align: center;
}
.con-up-r p {
    color: #0054a6;
    letter-spacing: 0.2em;
    line-height: 1.5;
    font-size: 4vw;
}
.con-1-l {
    width: 100%;
    float: none;
    position: absolute;
    top: 65%;
    left: 5%;
}
.con-1-l h3 {
    color: #56b7e2;
    font-size: 10vw;
    padding: 2% 0%;
}
.con-1-l h4 {
    color: #0054a6;
    font-size: 10vw;
    padding: 2% 0%;
}
.con-1-l p {
    font-size: 4vw;
    font-weight: bold;
    line-height: 1.5;
}
.con-1-r {
    width: 100%;
    float: none;
}
.concept-2 {
    padding: 20% 5%;
    display: block;
}
.con-2-l{
width:100%;
margin-right: 0%;
line-height:2;
}
.con-2-l p{
font-size: 3vw;
}
.con-2-r{
width:100%;
margin-left: 0%;
line-height:2;
}
.con-2-r p{
font-size: 3vw;
}

/*ここまでconcept*/
/*ここからabout*/

.about-img {
    padding: 0% 5%;
    text-align: center;
}
.about-con {
    padding: 3% 5%;
    text-align: center;
}
.about-con p {
    font-size: 3vw;
    line-height: 2;
    letter-spacing: 0.1em;
}
.about-down{
  padding:3% 5%;
  text-align: center;
  display:block;
}
.about-down-l{
width:100%;
margin-right: 0%;
}
.about-down-l-up-a i {
    color: #56b7e2;
    font-size: 5vw;
}
.about-down-l-up-b p {
    color: #56b7e2;
    font-size: 4vw;
}
.about-down-l-up-b p span {
    color: #56b7e2;
    font-size: 5vw;
}
.about-down-l-down {
    padding: 5% 0%;
    border-bottom: 1px solid #888;
}
.about-down-l-down-a i {
    color: #56b7e2;
    font-size: 3vw;
}
.about-down-l-down-b p {
    font-size: 3vw;
}
.about-down-r{
width:100%;
margin-right: 0%;
}
.about-down-r-up-a i {
    color: #0054a6;
    font-size: 5vw;
}
.about-down-r-up-b p {
    color: #0054a6;
    font-size: 4vw;
}
.about-down-r-up-b p span {
    color: #0054a6;
    font-size: 5vw;
}
.about-down-r-down {
    padding: 5% 0%;
    border-bottom: 1px solid #888;
}
.about-down-r-down-a i {
    color: #0054a6;
    font-size: 3vw;
}
.about-down-r-down-b p {
    font-size: 3vw;
}
.advan-up{
width:100%;
display:block;
}
.advan-con{
width:100%;
text-align: center;
padding:0% 5%;
}
.advan-box-con {
    position: absolute;
    top: 30%;
    left: 15%;
}
.advan-text h3 {
    padding: 3% 0%;
    font-size: 5vw;
    color: #56b7e2;
}
.advan-text p {
    padding: 3% 0%;
    font-size: 3vw;
    line-height: 2;
}
.advan-box {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
}
/*ここまでadvan*/
/*ここからflow*/
.flow-con {
    padding: 0% 5%;
}
.flow-num {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    border: 1px solid #0054a6;
    width: 15%;
    background-color: #0054a6;
    text-align: center;
    padding: 5% 0%;
}
.flow-num p {
    color: #fff;
    font-size: 4vw;
}
.flow-box-box {
    padding: 2% 2%;
    display: block;
}
.flow-box-l {
    width: 100%;
    border-right: 0px solid #888;
}
.flow-box-l-l {
    width: 100%;
    float: none;
}
.flow-box-l-r {
    width: 100%;
    float: none;
    padding: 5% 0%;
    text-align: center;
}
.flow-box-l-r p {
    color: #0054a6;
    font-size: 5vw;
}
.flow-box-r {
    width: 100%;
    padding: 0% 2%;
}
.flow-box-r-up p {
    line-height: 2;
    font-size: 3vw;
}
.flow-box-r-down {
    border: 1px solid #0054a6;
    width: 100%;
    padding: 3% 29%;
    text-align: center;
}
.flow-box-r-down-p p {
    font-size: 4vw;
    color: #0054a6;
}
.flow-box-r-down-i i {
    font-size: 5vw;
    color: #0054a6;
}
/*ここまでflow*/
/*ここからjob*/
.job {
    background-color: #00aaea;
    position: relative;
    padding: 30% 5%;
}
.job-l {
    position: absolute;
    top: 78%;
    left: 55%;
    float: none;
}
.job-l img {
    width: 30%;
}
.job-r {
    float: none;
    padding: 0% 0%;
    width: 100%;
    margin-left: 0%;
}
.job-r-1 {
    border: 1px solid #fff;
    background-color: #fff;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    padding: 3% 0%;
}
.job-r-1 p {
    color: #00aaea;
    font-size: 5vw;
}
.job-r-2 {
    padding: 3% 0%;
    text-align: center;
}
.job-r-2 p {
    line-height: 2;
    color: #fff;
    font-size: 6vw;
    font-weight: bold;
}
.job-r-3 {
    padding: 0% 0%;
    text-align: left;
}
.job-r-3 p {
    line-height: 2;
    color: #fff;
    font-size: 3.5vw;
     opacity: 1;
}
.job-r-4 p {
    font-weight: bold;
    color: #fff;
    font-size: 4vw;
}

/*ここまでjob*/
/*ここからentry*/
.entry {
    background-color: #1155a3;
    padding: 5% 0%;
}
.entry-padding {
    padding: 5% 5%;
}
.entry-up {
    padding: 10% 0%;
    display:block;

}
.entry-up-l{
text-align: center;
}
.entry-up-l p {
    color: #fff;
    letter-spacing: 0.2em;
    line-height: 1.5;
    font-size: 5vw;
}
.entry-up-cen {
    content: "";
    width: 77px;
    height: 1px;
    background: #fff;
    position: relative;
    top: -4px;
    margin-left: 40%;
    margin-right: 40%;
    display: inline-block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(-51deg);
    -ms-transform: rotate(-51deg);
    -o-transform: rotate(-51deg);
    /* transform: rotate(-51deg); */
}
.entry-up-r {
text-align: center;
}
.entry-up-r p {
    color: #fff;
    letter-spacing: 0.2em;
    line-height: 1.5;
    font-size: 4vw;
}
.entry-down {
    padding: 3% 0%;
    text-align: center;
}
.label {
    float: left;
    margin-right: 10%;
    width: 20%;
    padding: 2% 0%;
    text-align: center;
}
.label p {
    font-weight: bold;
    color: #0054a6;
    font-size: 3vw;
}
.info-must {
    float: left;
    width: 10%;
    margin-right: 0%;
    border: 1px solid #56b7e2;
    background-color: #56b7e2;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.info-must p {
    color: #fff;
    font-size: 2vw;
}
.inputs {
    float: none;
    width: 100%;
    background-color: #f0f0f0;
    height: 5vh;
}

.info-month-1 {
    width: 50%;
    float: left;
}
.info-month-1-2 {
    width: 50%;
    float: left;
    padding: 8% 0%;
    margin-left: 0%;
}
.info-month-1-2 p {
    font-size: 4vw;
    font-weight: bold;
}
.info-month-2 {
    width: 100%;
    float:left;
}
.info-month-2-1 {
    width: 10%;
    float: left;
    padding: 6% 0%;
    text-align: left;
}
.info-month-2-2 {
    width: 55%;
    padding: 8% 0%;
    float: left;
    margin-left: 0%;
}
.info-month-2-2 p {
    font-size: 4vw;
    font-weight: bold;
}
.info-month-3 {
    width: 100%;
    float: none;
}
.info-month-3-1 {
    width: 10%;
    float: left;
    padding: 6% 0%;
    text-align: left;
}
.info-month-3-2 {
    width: 55%;
    padding: 8% 0%;
    float: left;
    margin-left: 0%;
}
.info-month-3-2 p {
    font-size: 4vw;
    font-weight: bold;
}

.place {
    text-align: center;
    float: left;
    width: 100%;
}
.place-l-up p {
    font-size: 4vw;
    opacity: 0.7;
}
.place-r {
    float: left;
    width: 40%;
    margin-left: 20%;
    margin-right:0%;
    padding:3% 0%;
}
.place-r-up p {
    font-size: 4vw;
    opacity: 0.7;
}
.place-down-footer {
    margin-left: 0%;
}
.place-down-up{
margin-top:5%;
}
.place-down-up p{
  font-size:4vw;
  opacity:0.7;
  }
  .man-woman {
    padding: 2% 0%;
    text-align: center;
    float: none;
}
textarea {
    border: solid 1px #aaa;
    border-radius: 5px;
    padding: 10px;
    height: 30vh;
    width: 100%;
    margin-left: 0%;
    background-color: #f0f0f0;
}
.info-footer-1 {
    padding: 5% 0%;
    text-align: center;
}
.info-footer-1 p {
    font-size: 3.5vw;
}
.info-footer-1 p span {
    font-size: 3.5vw;
    color: #0054a6;
    border-bottom: 1px solid #0054a6;
}
.info-footer-2 {
    padding: 5% 0%;
    text-align: center;
}
.info-footer-3 {
    border: 3px solid #0054a6;
    width: 100%;
    margin-left: 0%;
    padding: 5% 0%;
    text-align: center;
}
.info-footer-3-p p {
    font-size: 3vw;
    color: #0054a6;
}
.info-footer-3-i i {
    font-size: 5vw;
    color: #0054a6;
}
/*ここまで*/
/*ここからmap*/

.map iframe {
    width: 100%;
    height: 100vh;
}
.map-con {
    position: absolute;
    top: 38%;
    left: 0%;
    width: 100%;
    border: 1px solid #fff;
    background-color: #fff;
}
.map-up img {
    width: 100%;
}
.map-down-l p {
    color: #0054a6;
    font-size: 3vw;
    font-weight: bold;
}
.map-down-r p {
    color: #888;
    font-size: 3vw;
}
.footer{
display: none;
}
.respon-footer{
display:block;
background-color: #000;
}
.res-foo-padding{
padding:0% 5%;
}
.res-foo-up{
padding:10% 0%;
border-bottom:1px solid #f0f0f0;
text-align: center;
}
.res-foo-up p{
font-size:3vw;
color:#f0f0f0;
}
.res-foo-ulli{
  padding:10% 0%;
  text-align: center;
}
.res-foo-ulli-1{
  float:left;
  width:50%;
  text-align: center;
}
.res-foo-ulli-1 p{
  font-size:3vw;
  color:#f0f0f0;
}
.res-foo-ulli-2{
  float:left;
  width:50%;
  text-align: center;
}
.res-foo-ulli-2 p{
  font-size:3vw;
  color:#f0f0f0;
}
.res-footer-sns{
padding:10% 0%;
}
.res-footer-sns ul{
  display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
   -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack: center;
     -ms-flex-pack: center;
      justify-content: center;
}
.res-footer-sns ul li{
padding:0% 5%;
}
.res-footer-sns ul li i{
font-size:8vw;
color:#f0f0f0;
opacity:0.6;
}
.res-footer-pl{
padding:10% 0%;
text-align: center;
}
.res-footer-pl img{
width:30%;
}














.zdo_drawer_button * {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.zdo_drawer_button {
  display: block;
  padding: 0;
  width: 42px;
  height: 26px;
  position: relative;
  background: none;
  border: none;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  outline: none;
}

.zdo_drawer_button .zdo_drawer_bar {
  display: block;
  width: 42px;
  height: 2px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
}

.zdo_drawer_button .zdo_drawer_bar1 {
  top: 0;
}

.zdo_drawer_button .zdo_drawer_bar2 {
  top: 50%;
}

.zdo_drawer_button .zdo_drawer_bar3 {
  top: 100%;
}

.zdo_drawer_button.active .zdo_drawer_bar {
  width: 36.77px;
  left: 8px
}

.zdo_drawer_button.active .zdo_drawer_bar1 {
  transform: rotate(0.7853981633974483rad) translateY(-50%);
  top: 0px
}

.zdo_drawer_button.active .zdo_drawer_bar2 {
  opacity: 0;
}

.zdo_drawer_button.active .zdo_drawer_bar3 {
  transform: rotate(-0.7853981633974483rad) translateY(-50%);
  top: calc(100% - 0px)
}


/*+++ Default Button Color +++*/
  .zdo_drawer_button {
  color:#56b7e2;
}

.zdo_drawer_button .zdo_drawer_bar {
  background-color: #56b7e2;
}
/*このしたのカッコは大きい【】閉じ*/


}
