#wrapper{
min-width:1200px;
}

.head{
width: 100%;
height: 15vh;
padding: 1% 0%;
position: fixed;
z-index: 999;
background-color: #EEEEEE;
}
.menu-left{
float:left;
width:20%;
}
.menu-left img{
width:100%;
padding:10% 0%;
}

.menu-right{
float: left;
width: 80%;
padding: 3% 2%;
}
.menu-right ul li{
float: left;
width: 12%;
font-size:17px;
text-align:center;
}

.nanaura{
background-image: url(img/wrapper.svg);
background-size: cover;
background-position: center;
position: relative;
top: 130px;
}
.block1{
width:100%;
}
.block1-left{
float: left;
position: relative;
top: 30px;
left: 100px;
width: 35%;
z-index: 10
}
.block1-left h2{
font-size:48px;
}
.block1-left p{
font-size:30px;
}
.block1-right{
float: left;
width: 65%;
text-align: center;
z-index: 5;
}
.block1-right img{
width:100%;
}
.block2{
width:100%;
margin-top:20%;
}
.block2-left{
width:50%;
float:left;
}
.block2-left1{
width: 48%;
float: left;
position: relative;
bottom: 50px;
}
.block2-left1 img{
 width:85%;
}
.block2-left2{
width: 48%;
float: left;
margin-left: 2%;
}
.block2-left2 img{
width:85%;
position:relative;
bottom:100px;
}
.block2-right{
width: 50%;
float: left;
padding: 2% 2%;
}
.block2-right-up{
width: 100%;
height: 15vh;
line-height:1.5;
}
.block2-right-up h2{
font-size:48px;
}
.block2-right-up p{
font-size:25px;
}
.block2-left-middle{
padding:2% 0%;
}
.block2-left-middle p{
font-family: arial, sans-serif;
line-height: 2;
margin-top:5%;
}
.block2-left-bottom{
border: 2px;
width: 40%;
padding: 5% 0%;
}
.button{
position: relative;
    display: inline-block;
    padding: .5em 4em;
    border: 2px solid #333;
    color: #333;
    text-align: center;
    text-decoration: none;
    transition: .3s;
}

.button::before{
position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background: #333;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
}
.button:hover:before{
transform-origin:left top;
transform:scale(1,1);
}
.block3-left{
width: 40%;
float: left;
padding: 2% 2%;
margin-left:10%;
}
.block3-left-up{
width: 100%;
height: 15vh;
line-height:1.5;
}
.block3-left-up h2{
font-size:48px;
}
.block3-left-up p{
font-size:25px;
}
.block3-right{
width:50%;
float:left;
}
.block3-right1{
width: 48%;
float: left;
position: relative;
bottom: 50px;
}
.block3-right1 img{
width:85%;
}
.block3-right2{
width: 48%;
float: left;
margin-left: 2%;
}
.block3-right2 img{
width:85%;
}
.block2-left-middle img{
width:30%;
}
.block2-left-middle a{
border-bottom:1px solid;
}
.block2-left-middle a:hover{
color:#FF6600;
}

.block6{
margin-top:15%;
padding:0% 2%;
}
.block6-left{
width: 33%;
float: left;
}
.block6-left-up img{
width:100%;
}
.block6-left-down{
padding: 3% 0%;
margin-top: 8%;
}
.block6-left-down-bottom{
width: 30%;
margin-left: 3%;
float: left;
border: 1px solid #000;
padding: 3% 6%;
}
.block6-left-down11{
text-align:center;
}
.block6-left-down11 i{
font-size: 15px;
padding: 0% 30%;
}
.block6-left-down12{
text-align:center;
}
.block6-left-down12 p{
font-size:10px;
}
.block6-medium{
width: 30%;
float: left;
padding: 0% 3%;
}
.block6-medium-up h3 {
font-size: 20px;
float: left;
}
.block6-medium-up span {
font-size: 15px;
float: left;
border: 1px solid #FF6600;
color: #FF6600;
margin-left: 1%;
padding: 0% 7%;
}
.block6-medium-naka {
margin-top: 3%;
}
.block6-medium-naka p{
padding:2% 0%;
}
.block6-medium-naka h3 {
color: #FF6600;
font-size: 15px;
padding: 2% 0%;
}
.block6-medium-naka span {
color: #FF6600;
font-size: 24px;
}
